.notes__form {
  display: flex;
  flex-direction: column;
}

.notes__form label {
  display: none;
}

.notes__form input,
.notes__form textarea {
  background-color: #202124;
  color: white;
  border: unset;
  outline: unset;
  width: 100%;
}

.notes__form input::placeholder,
.notes__form textarea::placeholder {
  color: rgb(178, 178, 178);
  opacity: 1;
}

.notes__form input {
  font-weight: 900;
}

.notes__form textarea {
  resize: none;
}

.notes__formGroup {
  margin-bottom: 0.5rem;
}

.notes__formFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notes__formCheckbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.notes__formCheckbox label {
  display: block !important;
  color: rgb(178, 178, 178);
  margin-left: 0.5rem;
}
.notes__formCheckbox input {
  background-color: #525355 !important;
}

.notes__form button {
  border: unset;
  outline: unset;
  color: white;
  font-weight: bold;
  background-color: unset;
  padding: 0.7rem 1.5rem;
  transition: background-color 0.2s;
  border-radius: 5px;
  align-self: flex-end;
}

.notes__form button:hover {
  background-color: rgba(255, 255, 255, 0.18);
}
